[user]
	name = Gabriele Bozzola
	email = sbozzolator@gmail.com

[github]
	user = sbozzolo
	token = token
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
