[Unit]
Description=RFKill-Block Bluetooh Devices

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill block bluetooth
ExecStop=
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
