[Unit]
Description=MEGAbackup every hour

[Timer]
# Time after boot (to avoid too many task at the same time)
OnBootSec=5min
# Time between exectutions
OnUnitActiveSec=1h
Unit=MEGAbackup.service

[Install]
WantedBy=timers.target
